* { margin: 0; padding: 0; }
html, body {
    height: 100%;
    width: 100%;
    background-image: url('../images/sparklingOcean.png');
    background-size: cover;
    background-position: 50% 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


header {
    font-family: Andale Mono, sans-serif;
    color: #333;
    width: calc(100vw - 60px); /* Adjust the width to account for both left and right margins */
    z-index: 1;
    position: absolute;
    top: 30px; 
    left: 30px; 
    cursor: pointer;
    display: flex; /* Flexbox makes aligning elements easier */
    align-items: flex-end; /* Align elements by their baselines */
    justify-content: space-between; /* Pushes the h1 and soundButton to opposite sides */
}

header h1 {
    font-weight: normal; /* Remove the default bold */
    margin: 0;
    letter-spacing: -1px;
    font-size: 1.5rem;
}

#soundButton {
    font-family: Andale Mono, sans-serif;
    font-size: 1.2rem; /* Matches the header's font-size */
    letter-spacing: -1px;
    color: #333;
    cursor: pointer;
    z-index: 2;
    margin: 0;
}


/* #edoFurin {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 100px;
    height: auto;
    cursor: pointer;
} */


main {
    display: flex;
    width: 100%;
    margin-top: 150px; /* Added margin to move the artwork list down */
}

#artwork-list {
    width: 300px;
    padding: 20px;
    user-select: none;
    color: rgb(232, 227, 233);
    position: relative;
    margin-left: 50px; /* Adjust how far from the left edge */
    margin-top: 1px; /* Adjust how far from the top */
}

#artwork-list h2 {
    margin-top: 20px;
    font-size: 1.2em; /* Match the font size of artwork names */
    font-weight: bold; /* Make category headers bold */
    color: inherit; /* Ensure the color can be dynamically changed */
}

#artwork-list a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2em; /* Adjust font size as needed */
    white-space: nowrap; /* Prevent text from wrapping */
    letter-spacing: 0.5px;
    color: inherit; /* Ensure the color can be dynamically changed */
}

#artwork-list a:hover {
    text-decoration: underline;
}

#artwork-list em {
    font-style: italic;
}


footer {
    position: absolute;
    bottom: 30px; /* Adjust as needed */
    width: 100%;
    text-align: center;
}

footer p {
    font-family: Andale Mono, sans-serif;
    color: rgb(232, 227, 233);
    font-size: 1.5rem; /* Reduce the font size */
    z-index: 1;
    line-height: 0.7em; /* Adjust line-height to make font more squat */
    letter-spacing: -2.5px; /* Adjust letter-spacing if needed */
    margin: 0;
}

footer .links {
    position: absolute;
    bottom: 0;
    right: 30px; /* Adjust right position if needed */
    text-align: right;
}

footer .links a {
    font-family: Andale Mono, sans-serif;
    color: rgb(232, 227, 233);
    font-size: 1.5rem;
    z-index: 1;
    line-height: 0.7em;
    letter-spacing: -2.5px;
    margin-left: 10px; /* Space between links */
    text-decoration: none;
}

footer .links a:hover {
    text-decoration: underline;
}